.App {
  width: revert;
  display: revert;
}

a {
  color: #3EBBFF;
}

.description {
  text-align: left !important;
}

.description-item {
  font-size: medium;
  color: black !important;
}
.network-icon {
  font-size: 32px;
}
.carousel-detail{
  width: 500px;
}

.carousel-detail-paper{
  position: relative;
  height: 600px;
  background-size: 500px 600px;
  overflow: hidden;
  padding: 20px;
}